<h1>Add task</h1>
<body class="forms">
  <%= form_with(model: [@board, @list], local: true) do |f| %>
    <div class="field">
      <%= f.label :task %>
      <%= f.text_field :task, required: true, placeholder: "                          What do you have to do?" %>
    </div>
    <%= f.submit "Add task"%>
  <% end %>
</body>