<pre>


<hr size="5px" color="cadetblue" width="1200px" />
<button class="back_button"><%= link_to "Back to tasks", @board %></button>
</pre>
<h3><%= @list.task %></h3>
<br/>
<button><%= link_to "Edit task", edit_board_list_path(@board) %></button>
<button><%= link_to "Delete task", [@board, @list], method: :delete %></button>