<body>
<h1>Welcome to your boards!</h1>
<br/>
  <% @boards.each do |board| %>
      <h3> <%= board.name %> </h3>
      <button><%= link_to "See tasks", board_path(board) %> </h5></button>
      <button><%= link_to "Delete board", @board, method: :delete %></button>
      <button><%= link_to "Edit board", edit_board_path(board) %></button>
      <hr size="2" width="900" color="cadetblue" />
  <% end %>
</body>
