<style>
  body {text-align: center;}
</style>
<body>
<h3><%= "#{@board.name}" %></h3>

<br/>
    <div class="tasks">
       <% @board.lists.each do |list| %>
        <%= link_to "#{list.task}", [@board, list] %>
         <br/>
        <% end %>
    </div>
<br/>

</body>

<!-- Here I need to add the ruby to display of the tasks for this specific board. -->